/* Roboto */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/roboto-regular.eot');
  src: url('../fonts/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/roboto-regular.woff2') format('woff2'),
  url('../fonts/roboto/roboto-regular.woff') format('woff'),
  url('../fonts/roboto/roboto-regular.ttf') format('truetype'),
  url('../fonts/roboto/roboto-regular.svg#roboto-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Roboto Slab */
@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/roboto-slab/roboto-slab-regular.eot');
  src: url('../fonts/roboto-slab/roboto-slab-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-slab/roboto-slab-regular.woff2') format('woff2'),
  url('../fonts/roboto-slab/roboto-slab-regular.woff') format('woff'),
  url('../fonts/roboto-slab/roboto-slab-regular.ttf') format('truetype'),
  url('../fonts/roboto-slab/roboto-slab-regular.svg#roboto-slab-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

