/* Roboto */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/roboto-regular.eot');
  src: url('../fonts/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/roboto-regular.woff2') format('woff2'),
  url('../fonts/roboto/roboto-regular.woff') format('woff'),
  url('../fonts/roboto/roboto-regular.ttf') format('truetype'),
  url('../fonts/roboto/roboto-regular.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Pinyon Script */
@font-face {
  font-family: 'Pinyon Script';
  src: url('../fonts/pinyon-script/pinyon-script-regular.eot');
  src: url('../fonts/pinyon-script/pinyon-script-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pinyon-script/pinyon-script-regular.woff2') format('woff2'),
    url('../fonts/pinyon-script/pinyon-script-regular.woff') format('woff'),
    url('../fonts/pinyon-script/pinyon-script-regular.ttf') format('truetype'),
    url('../fonts/pinyon-script/pinyon-script-regular.svg#pinyon_scriptregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
