@import '../../bower_components/sass-mq/mq';

header {
  text-align: center;
  padding-top: 5vh;
  background: #eee;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);

  & .language-selector {
    position: absolute;
    top: 5px;
    right: 10px;

    & ul.language-list {
      text-align: left;
      background: #fff;
      padding: 10px;
      border-radius: 3px;
      list-style: none;

      & > li {
        font-size: 0;
        cursor: pointer;
        transition: all 0.2s;

        & img {
          width: 0;
          vertical-align: middle;
        }

        &.active {
          @include mq($from: tablet) {
            font-size: 1em;
          }

          & img {
            width: auto;
          }
        }
      }

      &.open > li {
        font-size: 1em;
        margin-bottom: 5px;

        & img {
          width: auto;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  & > img {
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
  }

  & .title {
    margin-top: 30px;
    height: 24px;

    & h1 {
      font-family: 'Pinyon Script', serif;
      font-weight: 300;
      font-style: normal;
      display: inline;
      background: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      min-width: 260px;
      box-shadow: 0 1px 4px rgba(0,0,0,.3);
    }
  }
}
