@import '../../bower_components/sass-mq/mq';
@import '../../bower_components/object-fit-images/preprocessors/mixin.scss';

header {
  text-align: center;
  padding-top: 20px;
  background: #eee;
  box-shadow: 0 1px 4px #888;
  margin-bottom: 30px;
  position: relative;

  & > * {
    position: relative;
    z-index: 1;
  }

  & > picture.background {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    & img {
      height: 100%;
      width: 100%;
      @include object-fit(cover);
    }
  }

  & .browser-upgrade {
    margin: 0 auto 20px auto;
    width: 300px;
    text-align: center;
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 1px 4px #888;
  }

  & .language-selector {
    position: absolute;
    top: 5px;
    right: 10px;

    & ul.language-list {
      text-align: left;
      background: #fff;
      padding: 0;
      border-radius: 3px;
      list-style: none;
      box-shadow: 0 1px 4px #888;

      & > li {
        font-size: 0;
        cursor: pointer;
        transition: all 0.2s;

        & img {
          width: 0;
          vertical-align: middle;
        }

        &.active {
          padding: 10px;

          @include mq($from: tablet) {
            font-size: 1em;
          }

          & img {
            width: auto;
          }
        }
      }

      &.open > li {
        font-size: 1em;
        padding: 10px 10px 0 10px;

        & img {
          width: auto;
        }

        &:last-child {
          padding: 10px;
        }
      }
    }
  }

  & img.profile {
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 1px 4px #888;
    @include object-fit(cover);
  }

  & .title {

    & h1 {
      font-family: 'Pinyon Script', serif;
      font-weight: 300;
      font-style: normal;
      font-size: 2.5em;
      display: inline-block;
      min-width: 260px;
      min-height: 40px;
      background: #fff;
      margin: 20px 0;
      padding: 10px 20px;
      border-radius: 5px;
      box-shadow: 0 1px 4px #888;
    }
  }
}
