@import 'fonts';

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.browser-upgrade {
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

@import 'header';

main {
  min-height: 50vh;
  margin-top: 25px;
  padding: 10px;
}

footer {
  margin: 20px 0;
  font-weight: 100;
  text-align: center;
}
