@import '../../bower_components/sass-mq/mq';
@import '../../bower_components/font-awesome/scss/font-awesome';
@import '../../bower_components/owl.carousel/src/scss/owl.carousel';
@import '../../bower_components/object-fit-images/preprocessors/mixin.scss';
@import 'fonts';

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #212529;

  & a {
    color: #15507D;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@import 'header';

main {
  min-height: 50vh;
  margin: 0 auto;
  padding: 10px 25px;

  @include mq($until: tablet) {
    width: auto;
    padding: 10px;
  }

  @include mq($from: tablet, $until: desktop) {
    width: mq-get-breakpoint-width(tablet);
  }

  @include mq($from: desktop, $until: wide) {
    width: mq-get-breakpoint-width(desktop);
  }

  @include mq($from: wide) {
    width: mq-get-breakpoint-width(wide);
  }

  & > section {
    text-align: center;

    &.introduction {

      & h2 {
        font-weight: 300;
      }

      & .social {
        & a {
          font-size: 3em;
          color: #000;

          &:hover {
            color: #15507D;
            text-decoration: none;
          }
        }
      }
    }

    &.story {
      margin-top: 30px;

      & .carousel {
        & .item {
          padding: 10px 5px;
          border: 1px solid #eee;

          & > img {
            width: 100%;
            height: 150px;
            margin: 0 auto;
            @include object-fit(contain);
          }

          & h3 {
            font-size: 1.1em;
            min-height: 60px;
          }

          & h4 {
            font-weight: 300;
          }

          &.epfl {
            & h3 {
              font-family: 'Trajan', Times, sans-serif;
              font-weight: 300;
            }
          }

          &.insa {
            & h3 {
              font-family: 'Archivo Narrow', Tahoma, sans-serif;
              font-weight: 300;
              text-transform: uppercase;
            }
          }

          &.iut {
            & h3 {
              font-family: 'Lucida Grande', Tahoma, Helvetica, sans-serif;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}

@import 'footer';
